<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="" />
<link type="text/css" rel="stylesheet" href="/static/css/semantic/semantic.css">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/css/semantic/semantic.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script> 
<base target="_self" /> 
<title>가족앨범 - 로그인</title>
<style type="text/css">
body {
	background-color: #DADADA;
}
body > .grid {
	height: 100%;
}
.image {
	margin-top: -100px;
}
.column {
	max-width: 450px;
}
</style>
<script>
$(document).ready(function() {
	loginSysFormCheck();
});
</script>
</head>
<body class="login_wrap_body">

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal header">Log-in to your account</h2>
    <form class="ui large form" action="/login" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="userId" placeholder="아이디를 입력하세요.">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="passwd" placeholder="비밀번호를 입력하세요.">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>
  </div>
</div>
</body>
</html>

