{% extends 'layout.html' %}
{% block head %}
	{% include 'head.html'%}
{% endblock %}

{% block header %}
	{% include 'header.html'%}
{% endblock %}
{% block grid %}
	<div class="ui grid stackable container">
		<div class="four column row center aligned">
			{% for video in myVideoList %}
			<div class="column">
				<video width="240" controls>
					<source src="{{video.fileNameUrl}}" type="video/mp4">
				</video><br />
				{{video.displayDate}}<br />
				{{video.fileName}}
			</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="column center aligned">
				<div id="pagingArea"></div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}var pageIndex = {{pageMap.pageIndex}};
var pageUnit = {{pageMap.pageUnit}};
var pageSize = {{pageMap.pageSize}};
var pageTotal = {{pageMap.pageTotal}};

var localPageIndex = localStorage.getItem('pageIndex'); 
var isFirstPage = sessionStorage.getItem('isFirstPage'); 

console.log(isFirstPage);
if(isFirstPage == null) {
	sessionStorage.setItem('isFirstPage', 'N');

	var tmpPageIndex = localStorage.getItem('pageIndex');
	console.log('tmpPageIndex : '+tmpPageIndex);
	if(tmpPageIndex == null) {
		pageIndex = 1;
	} else {
		pageIndex = tmpPageIndex;
	}
}
localStorage.setItem('pageIndex', pageIndex);

var paging = pageNavi(pageIndex, pageUnit, pageSize, pageTotal);
$('#pagingArea').html(paging);{% endblock %}
